*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	background-color: #b3ccff;
}

html {
  scroll-behavior: smooth;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: url(img/gruppo-normale3.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.nav {
  	overflow: hidden;
  	background-color: #7094db !important;
  	position: fixed;
  	top: 0;
  	width: 100%;
  	padding: 0.1% 2%;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle !important;
	z-index: 3;
	display: flex;
}

.nav ul li a {
  	display: block;
  	text-decoration: none;
	font-size: 13px;
	background-color: transparent !important;
	text-transform: uppercase;
	color: #ffd359;
}

.alink{
	background-color: transparent !important;
}

.nav img{
	width: 190px;
	background-color: transparent !important;
}
	
.nav-links{
	flex: 1;
	text-align: center;
	background-color: transparent !important;
	display: inline;
	z-index: 5;
}

.nav-links ul{
	background-color: transparent !important;
	position: fixed;
	right: 2%;
	top: 5%;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	background-color: transparent !important;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ccddff;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	width: 90%;
	color: white;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	background-color: transparent !important;
	z-index: 1;
}

.text-box h1{
	font-size: 62px;
	text-shadow: 1px 2px #5c85d6;
	text-transform: uppercase;
	background-color: transparent !important;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 18px;
	background-color: transparent !important;
}

.nav #icon, .nav #icon2{
	display: none;
	background-color: transparent !important;
}

/*------Attività------*/
.attività2{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

h2 {
	font-size: 40px;
	font-weight: 600;
	text-shadow: 1px 2px #660000;
	color: #cc0000;
}

.p2{
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

h3 {
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	background-color: transparent !important;
}

.p3,.p4{
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.p4{
	background-color: transparent !important;
}

.row{
	margin-top: 1%;
	display: flex;
	justify-content: space-between;
}

.attività-col{
	flex-basis: 47%;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 5% 32px;
	box-sizing: border-box;
	background: #ccddff;
}

b{
	text-decoration: underline;
	background-color: transparent !important;
}

/*------Società------*/
.società2{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 90px;
}

.società-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
}

.società-col img{
	width: 100%;
}

.società-col p{
	padding: 0;
	text-align: center;
	font-weight: 300;
	line-height: 22px;
	margin-top: 5px;
	box-sizing: border-box;
	background: #99bbff;
	border-radius: 10px;
	padding: 15px;
}


@media(max-width: 700px){
	.text-box h1{
	font-size: 35px;
	}
	
	.text-box p{
	font-size: 14px;
	}

	.nav-links ul li{
	display: block;
	z-index: 7 !important;
}

.nav-links ul {
	position: relative !important;
	z-index: 7 !important;
}

.nav-links{
	position: fixed;
	background: #5c85d6 !important;
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200px;
	text-align: left;
	transition: 1s;
	z-index: 7 !important;
}

.nav #icon2{
	display: block;
	color: white;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 0px;
	font-size: 30px;
	cursor: pointer;
}

.nav #icon{
	display: inline-block;
	color: white;
	margin: 18px; 
	font-size: 30px;
	cursor: pointer; 
}

.nav-links ul{
	padding: 20px;
	z-index: 7 !important;
}

.nav-links ul li a{
	font-size: 17px;
	z-index: 7 !important;
}

.nav img{
	width: 160px;
	margin-top: 9px;
}

.nav-links ul li::after{
	background: transparent !important;
}

.row{
	flex-direction: column;
}

h2{
	font-size: 25px;
}

.p2{
	font-size: 13px;
}

.p3{
	font-size: 14px;
}


}